* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    border: 1px solid black;
}

.container {
    margin: 0 auto;
    background-color: red;
    width: 80%;
    min-height: 650px;
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: max-content max-content minmax(80%, auto) minmax(5%, auto);
}

.header {
    background-color: red;
    color: white;
    min-height: 80px;
    line-height: 80px;
    border-bottom: 3px dashed black;
    grid-column: 1 / span 2;
    grid-row: 1;
    display: grid;
    place-content: center;
}

.header h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav {
    overflow: hidden;
    background-color: lightblue;
    grid-column: 1 / span 2;
    grid-row: 2;
}

li {
    background-color: lightblue;
    list-style: none;
    padding: 10px;
    float: left;
}

.content {
    background-color: green;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    grid-column: 1;
    grid-row: 3;
}

.article {
    padding: 10px;
    border-bottom: 2px solid limegreen;
}

@media all and (max-width: 768px) {
    .article {
        font-size: 0.8em;
    }
}

.article:first-child {
    border-top: 2px solid lightgreen;
}

.aside {
    background-color: orange;
    text-overflow: ellipsis;
    padding: 10px;
    box-sizing: border-box;
    grid-column: 2;
    grid-row: 3;
}

@media all and (max-width: 768px) {
    .aside {
        font-size: 0.8em;
    }
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    clear: both;
    grid-column: 1 / span 2;
    grid-row: 4;
}

@media (max-width: 160px) {
    .footer {
        font-size: 0.7em;
    }
}
